@using KolekcjaKart.Data.Models
@model KolekcjaKart.Models.CardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Tekst:</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardEffectType" class="control-label">Typ karty:</label>
                @Html.DropDownList("CardEffectType", Html.GetEnumSelectList<CardEffectType>(), new { @class = "form-control" })
                <span asp-validation-for="CardEffectType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pool" class="control-label">Pula:</label>
                @Html.DropDownList("Pool", Html.GetEnumSelectList<Pool>(), new { @class = "form-control" })
                <span asp-validation-for="Pool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label">Siła:</label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Koszt:</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
